.contenedor-principal{
    max-width: 800px;
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.introduccion{
    border-bottom: 1px solid black;
}

.contenido{
    border: 1px solid black;
    width: 100%;
}


@media only screen and (max-width:600px) {
    .der{
        order: 1;
    }   
    .izq{
        order: 2;
    }   
}