.contenedor-principal{
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.introduccion{
    border-bottom: 1px solid black;
}

.contenido{
    border: 1px solid black;
    width: 100%;
}

.cen{
    height: fit-content;
}



