#container {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
}
.container2 {
  display: grid;
  grid-template-columns: auto auto;
}

.div1 {
  padding: 50px;
  background-color: pink;
  order: 1;
}

.div2 {
  padding: 50px;
  background-color: aqua;
}

.div3 {
  padding: 50px;
  background-color: coral;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}