* {
  box-sizing: border-box;
}

div {
  text-transform: uppercase;
  font-weight: bold;
}

div {
  box-sizing: border-box;
  padding: 20px;
}

.container {
  background: #ebf7f8;
  width: 80%;
  margin: auto;
}

.container.index {
  width: 80%;
  margin: 0 auto;
}

.header {
  padding: 15px;
  background: #ff9c56;
}

.sidebar {
  background: #ffbe56;
  float: left;
  width: 33.33%;
  height: 300px;
}

.main-content {
  background: #88abc2;
  float: left;
  width: 33.33%;
  height: 300px;
  color: white;
}

.sub-content {
  background: #49708a;
  float: left;
  width: 33.33%;
  height: 300px;
}

.footer {
  padding: 15px;
  background: #aad637;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
